:root {
  --moondust: #999;
  --midnight-blue: #001;
  --starlight: #eeb;
  --starlight-dark: #24241a;
  --sunlight: #bb4;
  --main-padding: 3rem;
}

* {
  box-sizing: border-box;
}

.hi {
  /* Big enough to fit the header on one line */
  max-width: 15em;
  /* Make sure it covers the moon if they overlap */
  z-index: 1;
}

/* A deliberate sprightly spin, and then a wave */
@keyframes wave {
  from {
    transform: rotate(0turn);
  }
  15% {
    transform: rotate(1turn);
  }
  30% {
    transform: rotate(1.07turn);
  }
  55% {
    transform: rotate(.93turn);
  }
  80% {
    transform: rotate(1.06turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.hi .hand {
  /* To enable rotating and moving about */
  display: inline-block;
  position: relative;
}

.hi .hand:hover,
.hi .hand:focus {
  animation: wave 2s linear;
}

.moon {
  --size: 5em;
  background-color: var(--starlight);
  border-radius: 50%;
  height: var(--size);
  position: absolute;
  right: var(--main-padding);
  top: var(--main-padding);
  width: var(--size);
}

.moon > .moon-mask {
  background-color: var(--midnight-blue);
  border-radius: 50%;
  height: var(--size);
  opacity: .98;
  position: absolute;
  /* We modify this property via JS, but include a default value as a fallback */
  right: var(--main-padding);
  bottom: .07em;
  width: var(--size);
}

.moon .dot1 {
  --dotsize: .5em;
  background-color: var(--moondust);
  border-radius: 50%;
  height: var(--dotsize);
  opacity: .5;
  position: absolute;
  top: 35%;
  left: 15%;
  width: var(--dotsize);
}

.moon .dot2 {
  --dotsize: 1em;
  background-color: var(--moondust);
  border-radius: 50%;
  bottom: 10%;
  height: var(--dotsize);
  opacity: .5;
  position: absolute;
  left: 15%;
  width: var(--dotsize);
}

.moon .dot3 {
  --dotsize: .7em;
  background-color: var(--moondust);
  border-radius: 50%;
  height: var(--dotsize);
  opacity: .5;
  position: absolute;
  right: 20%;
  top: 15%;
  width: var(--dotsize);
}

.mute-label {
  align-items: center;
  background-color: #80000030;
  border-radius: 100%;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

#mute-button {
  appearance: none;
  display: none;
}
#mute-button + span:before {
  content: "🔊";
}
#mute-button:checked + span:before {
  content: "🔈";
}

.star {
  color: var(--starlight);
  position: absolute;
}
.star:before {
  content: "*";
}
.star.star1 {
  top: 3em;
  left: 50%;
}
.star.star2 {
  top: 1em;
  left: 5%;
}
.star.star3 {
  top: 13em;
  left: 78%;
}

@keyframes cross {
  from {
    right: -10%;
  }

  to {
    right: 120%;
  }
}
.owl-sprite {
  position: absolute;
  right: -10%;
  top: var(--main-padding);
  /* TODO: This should be calculated based on the view width so it's a consistent speed */
  animation: cross 10s ease-in-out;
  /* The first owl screech is exactly at 5s */
  animation-delay: 3s;
}
.owl-sprite .frame {
  --owl-size: 150px;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--owl-size);
  width: var(--owl-size);
}

@keyframes blink1 {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}
@keyframes blink2 {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.owl-sprite .frame:nth-child(1) {
  animation: blink1 .75s infinite steps(2, jump-none);
  top: -37.5px;
}
.owl-sprite .frame:nth-child(2) {
  animation: blink2 .75s infinite steps(2, jump-none);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
main a {
  font-style: italic;
}

body {
  background-color: var(--midnight-blue);
  color: var(--starlight);
  display: flex;
  flex-direction: column;
  font-family: "Helvetica", "Arial", sans-serif;
  height: 100%;
  line-height: 1.5;
  /* Generally good practice, but specifically to allow hiding owl off screen */
  overflow-x: hidden;
  width: 100%;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

h1 {
  font-size: 2em;
  margin-bottom: .5rem;
}

header {
  align-items: center;
  border-bottom: var(--starlight-dark) solid .1em;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  height: 100%;
  padding: var(--main-padding);
  position: relative;
  width: 100%;
}

nav ul {
  display: flex;
}
nav ul li {
  padding-left: 1em;
  padding-right: 1em;
}

strong {
  color: var(--sunlight);
  font-weight: bold;
}
