:root {
  --accent-color: forestgreen;
  --background-color: indigo;
  --darker-background-color: #300153;
}

/* Center the content within the overlay */
.overlay {
  --border-width: 5px;
  --border-style: white dashed var(--border-width);
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.overlay > .hi {
  border: var(--border-style);
  color: white;
  font-family: sans-serif;
  font-size: large;
  padding: 40px;
  /* Allow absolute position of X button */
  position: relative;
  /* Support fading out */
  transition: opacity 1000ms ease-in-out;
  width: 40%;
}
/* TODO: Factor out flex-centered into a CSS utility here and above */
.overlay > .hi > .exit {
  --size: 40px;
  align-items: center;
  /* Extend the border of the dialog */
  border: var(--border-style);
  display: flex;
  height: var(--size);
  justify-content: center;
  position: absolute;
  /* Push back so the border overlaps with the container's borders */
  right: calc(-1 * var(--border-width));
  top: calc(-1 * var(--border-width));
  width: var(--size);
}
.overlay > .hi > .exit:hover,
.overlay > .hi > .exit:focus {
  background-color: var(--darker-background-color);
}
.overlay > .hi > .exit:focus {
  border-color: var(--accent-color);
}
.overlay > .hi > .exit:active {
  /* Shrink the button a bit to make it look like it is pressed */
  transform-origin: top right;
  transform: scale(0.98);
}

.overlay > .hi .rooted {
  /* Allow children to be positioned relative to it */
  position: relative;
  /*
   * Establish a new stacking context, but keep this element at the
   * default 0 level within its parent.
   */
  z-index: 0;
}
.overlay > .hi .rooted:before {
  content: "🌳";
  font-size: 2ex;
  position: absolute;
  text-align: center;
  top: .5ex;
  /* 100% of the parent text node "rooted" */
  width: 100%;
  /* Scooch behind the text */
  z-index: -1;
}
.overlay > .hi > h1 {
  text-align: left;
}
/* TODO: Think more about this padding and sizing */
.overlay > .hi > p {
  padding-top: 25px;
}

/*
 * Remove all styling from buttons
 *
 * Copied from https://css-tricks.com/overriding-default-button-styles/
 * 
 */
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-size: 175%;
}
