:root {
  --moondust: #999;
  --midnight-blue: #001;
  --starlight: #eeb;
  --sunlight: #bb4;
}

* {
  box-sizing: border-box;
}

.content {
  align-items: center;
  display: flex;
  justify-content: flex-start; 
  height: 100%;
  padding: 1em;
  width: 100%;
}

.hi {
  border: solid var(--starlight) .25em;
  max-width: 20%;
  padding: 1em;
}

.moon {
  --size: 5em;
  background-color: var(--starlight);
  border-radius: 50%;
  height: var(--size);
  position: absolute;
  right: 1em;
  top: 1em;
  width: var(--size);
}

.moon > .moon-mask {
  background-color: var(--midnight-blue);
  border-radius: 50%;
  height: var(--size);
  opacity: .98;
  position: absolute;
  right: 1.5em;
  bottom: .1em;
  width: var(--size); 
}

.moon .dot1 {
  --dotsize: .5em;
  background-color: var(--moondust);
  border-radius: 50%;
  height: var(--dotsize);
  opacity: .5;
  position: absolute;
  top: 35%;
  left: 15%;
  width: var(--dotsize);
}

.moon .dot2 {
  --dotsize: 1em;
  background-color: var(--moondust);
  border-radius: 50%;
  bottom: 10%;
  height: var(--dotsize);
  opacity: .5;
  position: absolute;
  left: 15%;
  width: var(--dotsize);
}

.moon .dot3 {
  --dotsize: .7em;
  background-color: var(--moondust);
  border-radius: 50%;
  height: var(--dotsize);
  opacity: .5;
  position: absolute;
  right: 20%;
  top: 15%;
  width: var(--dotsize);
}

.star {
  color: var(--starlight);
  position: absolute;
}
.star:before {
  content: "*";
}
.star.star1 {
  top: 3em;
  left: 50%;
}
.star.star2 {
  top: 5em;
  left: 20%;
}
.star.star3 {
  top: 13em;
  left: 78%;
}

body {
  background-color: var(--midnight-blue);
  color: var(--starlight);
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

strong {
  color: var(--sunlight);
  font-weight: bold;
}
